<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <!-- Stylesheets -->
    <link rel='stylesheet' href='/plugins/siteorigin-panels/css/front-flex.css' type='text/css' media='all' />
    <link rel='stylesheet' href='/css/maxmegamenu/style.css' type='text/css' media='all' />
    <link rel='stylesheet' href='/css/dashicons.min.css' type='text/css' media='all' />
    <link rel='stylesheet' href='/themes/quest/assets/css/plugins-all.min.css' type='text/css' media='all' />
    <link rel='stylesheet' href='/themes/plasma-min/style.css' type='text/css' media='all' />
    <link rel='stylesheet' href='/css/fonts.css' type='text/css' media='all' />
    <link rel='stylesheet' href='/plugins/easy-table/themes/default/style.css' type='text/css' media='all' />
    <link rel="stylesheet" href="/plugins/modal-video/css/modal-video.min.css">
    
    <link rel='stylesheet' type='text/css' href='/css/findyourway/style.css' title='Default'>
    <link rel='stylesheet' type='text/css' href='/css/findyourway/plain.css' title='Bird Eye View'>
    
    <!-- Java-Script -->
    <script type='text/javascript' src='/js/jquery/jquery.js'></script>
    <script type='text/javascript' src='/js/jquery/jquery-migrate.min.js'></script>
    <script type='text/javascript' src='/themes/quest/assets/js/quest-and-plugins.js'></script>
    <script src="/plugins/modal-video/js/modal-video.min.js"></script>

    <link rel="shortcut icon" href="/favicon.png" />

    <!-- Bundled inline stylesheets-->
    <link rel="stylesheet" href="/css/main.css" />

    <link type="text/css" rel="stylesheet" href="/lightslider/css/lightslider.css" />                  
    <script src="/js/jquery/jquery-3.4.1.min.js"></script>
    <script src="/lightslider/js/lightslider.js"></script>
</head>
