---
title:      "New Kirigami communication channels"
created_at: 2018-08-21 15:13:54 UTC
author:     Marco Martin
layout:     post
---
<p>Kirigami used to have a Telegram channel as its main communication channel. this is of course not optimal being a closed service and many potential contributors not having an account on Telegram.<br />
Since today, we also have an IRC channel<br />
<strong>#kde-kirigami</strong> on freenode and<br />
<strong>#kirigami:matrix.org</strong> on Matrix<br />
The Telegram channel is still there, and all 3 are bridged between each other, so a message sent by any of the 3 platforms will be received also by users on the other two.<br />
See you there <img src="/img/cache/https:__s.w.org_images_core_emoji_12.0.0-1_72x72_1f642.png" alt="🙂" class="wp-smiley" style="height: 1em; max-height: 1em;" /></p>