---
title:      "A mobile Plasma Sprint"
created_at: 2019-02-14 16:54:19 UTC
author:     Marco Martin
layout:     post
---
<p>I was last week in Berlin at the Plasma Mobile sprint, graciously hosted by <a href="https://endocode.com/">Endocode,</a> almost exactly 9 years after <a href="https://notmart.org/blog/2010/02/a_mobile_tokamak/">the first</a> Plasma Mobile sprint in which we first started to explore Plasma and other software by KDE on mobile phones, which at the time were just starting to become powerful enough to run a full Linux stack (Hi N900!)</p>



<p>Now the project got a wide breath of fresh air: the thing that impressed me the most was how many new faces came at the sprint and are now part of the project.</p>



<figure class="wp-block-image"><img src="/img/cache/https:__notmart.org_blog_wp-content_uploads_2019_02_Screenshot_20190214_173326-1024x773.png" alt="" class="wp-image-6640" srcset="/img/cache/https:__notmart.org_blog_wp-content_uploads_2019_02_Screenshot_20190214_173326-1024x773.png 1024w, https://notmart.org/blog/wp-content/uploads/2019/02/Screenshot_20190214_173326-300x227.png 300w, https://notmart.org/blog/wp-content/uploads/2019/02/Screenshot_20190214_173326-768x580.png 768w, https://notmart.org/blog/wp-content/uploads/2019/02/Screenshot_20190214_173326-624x471.png 624w, https://notmart.org/blog/wp-content/uploads/2019/02/Screenshot_20190214_173326.png 1229w" sizes="(max-width: 1024px) 100vw, 1024px" /></figure>



<p>Compared to 9 years ago, we have a way saner and more robust ecosystem to play on. Instead of a single (and quite underpowered) phone, which was the N900, now we can hack on a wide variety of phones, thanks to ARM being slightly less painful to work with compared to back then (even tough still a long way to go to be considered an open hackable system from nay point of view) Some devices are starting to get upstream mainline kernel support, and for those (unfortunately, most) who don&#8217;t there is the <a href="https://halium.org/">Halium</a> project to the rescue, which provides an abstraction layer between the Android kernel and the &#8220;proper Linux&#8221; userland, making possible to use its graphjics drivers to drive a Wayland session, access audio and connectivity and so on.</p>



<p>We have a Neon version which supports a reference device (the old Nexus-5x) which can be easily adapted to other devices, and <a href="https://postmarketos.org/">PostmarketOS</a>, which is a distribution which supports many different phones and several user interfaces, Plasma Mobile being one of the official ones. At the sprint there were also some people from the PostmarketOS project: one of the things i love most of open source is when different projects collaborate so closely.</p>



<p>We had also some new toys to play with: people from Purism were also present, bringing development kits for their upcoming <a href="https://puri.sm/products/librem-5/">Librem5</a> phone, which will support mainline kernel and no need for closed Android drivers. Even tough a lot of work is stil lto do, Plasma Mobile already boots on the device.</p>



<figure class="wp-block-image"><img src="https://notmart.org/blog/wp-content/uploads/2019/02/Screenshot_20190214_173505-586x1024.png" alt="" class="wp-image-6641" srcset="https://notmart.org/blog/wp-content/uploads/2019/02/Screenshot_20190214_173505-586x1024.png 586w, https://notmart.org/blog/wp-content/uploads/2019/02/Screenshot_20190214_173505-172x300.png 172w, https://notmart.org/blog/wp-content/uploads/2019/02/Screenshot_20190214_173505.png 600w" sizes="(max-width: 586px) 100vw, 586px" /><figcaption>Plasma Mobile running on a Librem 5 devkit.</figcaption></figure>



<p>As for Plasma Mobile <em>software</em> in itself, we did many bugfixes on the main shell/homescreen to have a better first impact, and a significant improvement came in KWin about high DPI scaling when running on an Halium system.</p>



<p>Also, many improvoements were done in the Kirigami framework, which is the main toolkit recommended to be used to build applications for Plasma Mobile: as developers of several applications that use Kirigami were present there, we could do very fast feedback and debug sessions.</p>



<p></p>