---
layout: default
---

<article id="post-29" class="post-29 page type-page status-publish hentry">
	<header class="entry-header">

		<h1 class="post-title entry-title"><a href="index.html" rel="bookmark">Home</a></h1>

	</header>
	<div class="w3-container">

		<div class="post-header">
			<a href="/blog"><h4><i class="fa fa-angle-left"></i> Back</h4></a>

			<h1>{{ page.title }}</h1>
			<p class="meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
		</div>
		<hr>

		<article class="post-content">
		{{ content }}
		</article>
	</div>
	<footer class="entry-footer">
	</footer>
	<!-- .entry-footer -->
</article>
<!-- #post-## -->

